@media (max-width: 426px) {
  .button {
    background: rgb(94, 216, 91);
    background: linear-gradient(
      273deg,
      rgba(94, 216, 91, 1) 0%,
      rgba(68, 171, 65, 1) 100%
    );
    padding: 18px 58px;
    border-radius: 30px;
    font-size: 16px;
    width: 370px;
  }

  .container {
    background-color: #000;
  }

  .container .header .logo {
    width: 86px;
  }

  .container .header .comece {
    width: 280px;
  }

  .container .hero {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .container .hero .text {
    margin: 64px auto;
    text-align: center;
    width: 370px;
  }
  .container .hero .text .title {
    font-size: 21px;
  }
  .container .hero .text .subtitle {
    font-size: 16px;
    line-height: 24px;
    width: 370px;
  }
  .container .video {
    display: none;
  }

  .video-mobile {
    display: block;
    margin: 0 auto;
    width: 370px;
  }

  .container .flex-icons {
    display: grid;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .about {
    margin: 40px auto;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .about .text {
    width: 370px;
    text-align: center;
  }

  .about .text .title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
  }

  .about .text .subtitle {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .imgburg-mobile {
    display: block;
    margin: 0 auto;
    width: 340px;
    margin-bottom: 16px;
  }
  .imgburg {
    display: none;
  }
  .textlight {
    font-size: 13px;
  }
  .textRed {
    font-size: 21px;
  }

  .midia .text {
    width: 370px;
  }

  .midia .flexImg {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 370px;
    margin: 0 auto;
  }

  .vantagens .flexImg {
    margin: 0 auto;
    width: 370px;
    display: grid;
  }

  .container2 .flex {
    display: block;
  }

  .container2 .flex img {
    margin: 0 auto;
  }

  .container2 .flex .list {
    margin: 8px;
    padding: 0 38px;
  }
  .container2 .flex .list .textRed {
    font-size: 21px;
    padding-top: 0;
  }
  .container2 .text .title2 {
    font-size: 21px;
  }

  .container2 .text .button {
    font-size: 16px;
    padding: 18px 48px;
  }

  .container3 .text {
    width: 370px;
  }

  .container3 .text .title {
    font-size: 21px;
  }

  .container3 .text .textlight {
    font-size: 16px;
  }

  .container3 .grid {
    margin: 0 auto;
    width: 370px;
    grid-template-columns: auto;
  }

  .container3 .grid .cardBonus {
    justify-content: center;
  }

  .container4 .text {
    width: 370px;
  }
  .container4 .text .title {
    font-size: 21px;
  }
  .container4 .text .textlight {
    font-size: 13px;
  }

  .container4 .depoimentos {
    margin: 0 auto;
    grid-template-columns: auto;
  }

  .grupo {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
  }

  .grupo .text {
    margin: 0 auto;
    text-align: center;
    width: 370px;
  }

  .grupo .man {
    margin: 0 auto;
    width: 360px;
  }

  .grupo .text .title {
    font-size: 23px;
  }

  .grupo .text .subtitle {
    font-size: 16px;
  }

  .certificado {
    display: grid;
  }
  .certificado .text {
    text-align: center;
    width: 370px;
  }

  .certificado .text .title {
    font-size: 21px;
  }

  .certificado .imgCertificado {
    display: none;
  }

  .certificado .certificado-mobile {
    display: block;
    width: 360px;
  }

  .garantia {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .garantia .text {
    width: 370px;
    text-align: center;
  }

  .garantia .text .title {
    font-size: 20px;
    margin-top: 16px;
  }

  .garantia .text .subtitle {
    font-size: 16px;
  }

  .selo-garantia {
    width: 360px;
    margin: 0 auto;
  }

  .acesso {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .acesso .imgburg-mobile {
    margin: 0;
  }
  .acesso .text {
    width: 370px;
  }
  .acesso .text .title {
    font-size: 21px;
  }
  .acesso .text .subtitle {
    font-size: 16px;
  }

  .duvida {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
  }
  .duvida .title {
    font-size: 21px;
    margin-bottom: 14px;
  }
  .duvida .flexIcons {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .duvida .flexIcons .flexText {
    font-size: 16px;
  }
  .oferta {
    width: 100vw;
    margin: 0 auto;
  }

  .oferta .textOferta {
    width: 370px;
  }

  .oferta .textOferta .title,
  .oferta .textOferta .textRed {
    font-size: 32px;
  }
  .oferta .textOferta .subtitle {
    font-size: 18px;
  }
  .oferta .textOferta .subtext {
    font-size: 35px;
  }

  .oferta .button {
    font-size: 16px;
    width: 370px;
  }
  .oferta .pay {
    width: 370px;
  }

  .footer {
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
