body {
  font-family: "poppins", sans-serif;
}

a {
  margin: 1rem auto;
  text-decoration: none;
  color: #fff;
  background-color: #34a853;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

h2,
p {
  color: #272727;
}

.site {
  margin: 0 auto;
  max-width: 1024px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.site .seguro {
  width: 300px;
  margin: 100px auto;
}

.site .title1 {
  margin: 0 auto;
  font-size: 32px;
  color: #272727;
  width: 88%;
  text-align: center;
}

.container {
  background: url("/asset/image/bgHamburguer-Artesanal.jpg") no-repeat center;
  background-size: cover;

  padding: 15px 0px 40px;
}

.container .header {
  margin: 0 auto;
  padding-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container .header .logo {
  margin: 0 auto;
  width: 136px;
}

.container .header .comece {
  margin-top: 24px;
}

.container .hero {
  max-width: 1440px;
  margin: 32px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container .hero .text {
  width: 470px;
  margin-top: 20px;
}

.container .hero .text .title {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 24px;
}

.container .hero .text .title span {
  color: #f12b2b;
}

.container .hero .text .subtitle {
  font-size: 17px;
  line-height: 24px;
  width: 460px;
  margin-bottom: 28px;
  color: #fff;
}

.container .hero .text .description {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
}

.container .video {
  border-radius: 10px;
  padding: 10px;
}
.video-mobile {
  display: none;
}

.container .flex-icons {
  max-width: 1440px;
  margin: 60px auto;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  padding: 0 18px;
}
.container .flex-icons .icon {
  width: 342px;
  text-align: center;
}
.container .flex-icons .icon .textRed {
  font-size: 22px;
  font-weight: 600;
  padding: 12px 0;
}

.container .flex-icons .icon .subText {
  font-size: 17px;
}

.about {
  margin: 50px auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.imgburg-mobile {
  display: none;
}
.about .text {
  width: 580px;
}

.about .text .title {
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  margin: 24px 0;
  color: #272727;
}

.about .text .subtitle {
  font-size: 17px;
  color: #272727;
}

.midia {
  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background-color: #ececec;
}

.flexImg {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 16px;
  padding: 10px 0;
  width: 353px;
}

.vantagens {
  max-width: 1440px;
  margin: 64px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vantagens .flexImg .textRed {
  font-size: 22px;
  font-weight: 600;
  width: 350px;
  margin: 0 auto;
  padding: 8px;
}

.vantagens .flexImg .subText {
  color: #272727;
  font-size: 17px;
}

.container2 {
  background: url("/asset/image/bgHamburguer-Artesanal.jpg") no-repeat center;
  background-size: cover;
  padding: 15px 0px 40px;
}

.container2 .text {
  text-align: center;
  color: #fff;
  padding: 16px;
}

.container2 .text .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.container2 .text .textlight {
  color: #fff;
}

.container2 .flex {
  margin: 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.container2 .flex .textRed {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.3em;
  padding: 24px 0;
  margin-left: -36px;
}

.container2 .flex .list {
  color: #fff;
  font-size: 17px;
}

.container2 .text .title2 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px auto;
  color: #fff;
}
.container2 .text .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}
.container3 {
  max-width: 1440px;
  margin: 50px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container3 .text .title {
  font-size: 28px;
  color: #272727;
}

.container3 .textlight {
  font-size: 19px;
  margin: 16px 0;
}

.container3 .grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
}

.container3 .grid .cardBonus {
  display: grid;
  background-color: #ececec;
  padding: 20px 12px;
  border-radius: 28px;
}

.container3 .grid .cardBonus .textRed {
  font-size: 21px;
  font-weight: 600;
  width: 244px;
  margin: 8px auto;
}

.container3 .grid .cardBonus .subText {
  font-size: 16px;
  width: 244px;
}

.container4 {
  background-color: #ececec;
  margin: 50px auto;
  padding: 50px 0;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container4 .text {
  margin-bottom: 16px;
}

.container4 .text .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 14px;
  color: #272727;
}

.container4 .text .textlight {
  font-size: 19px;
}

.container4 .depoimentos {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.textlight {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 16px;
  color: #54595f;
}

.textRed {
  color: #f12b2b;
}

.grupo {
  max-width: 1440px;
  margin: 50px auto;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo .text {
  width: 520px;
}

.grupo .text .title {
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  margin: 24px 0;
}

.grupo .text .subtitle {
  font-size: 17px;
  margin-bottom: 38px;
}

.grupo .text .button {
  background: rgb(94, 216, 91);
  background: linear-gradient(
    273deg,
    rgba(94, 216, 91, 1) 0%,
    rgba(68, 171, 65, 1) 100%
  );
  padding: 18px 48px;
  border-radius: 30px;
  font-size: 17px;
  margin-top: 16px;
}

.certificado {
  margin: 50px auto;
  padding: 50px 0;
  background-color: #ececec;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.certificado .text {
  width: 520px;
}

.certificado .text .title {
  color: #272727;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  margin: 24px 0;
}

.certificado .text .subtitle {
  font-size: 17px;
  margin-bottom: 38px;
}

.certificado .text .button {
  background: rgb(94, 216, 91);
  background: linear-gradient(
    273deg,
    rgba(94, 216, 91, 1) 0%,
    rgba(68, 171, 65, 1) 100%
  );
  padding: 18px 48px;
  border-radius: 30px;
  font-size: 17px;
  margin-top: 16px;
}

.certificado-mobile {
  display: none;
}

.garantia {
  max-width: 1440px;
  margin: 50px auto;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.garantia .text {
  width: 520px;
}

.garantia .text .title {
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  margin: 24px 0;
}

.garantia .text .subtitle {
  font-size: 17px;
  margin-bottom: 64px;
}

.garantia .text .button {
  background: rgb(94, 216, 91);
  background: linear-gradient(
    273deg,
    rgba(94, 216, 91, 1) 0%,
    rgba(68, 171, 65, 1) 100%
  );
  padding: 18px 48px;
  border-radius: 30px;
  font-size: 17px;
  margin-top: 16px;
}

.acesso {
  margin: 50px auto;
  padding: 50px 0;
  background-color: #ececec;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.acesso .text {
  width: 520px;
}

.acesso .text .title {
  color: #272727;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  margin: 24px 0;
}

.acesso .text .subtitle {
  font-size: 17px;
  margin-bottom: 38px;
}

.acesso .text .button {
  background: rgb(94, 216, 91);
  background: linear-gradient(
    273deg,
    rgba(94, 216, 91, 1) 0%,
    rgba(68, 171, 65, 1) 100%
  );
  padding: 18px 48px;
  border-radius: 30px;
  font-size: 17px;
  margin-top: 16px;
}

.duvida {
  max-width: 1440px;
  margin: 50px auto;
  text-align: center;
  margin-bottom: 38px;
}

.duvida .flexIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}

.duvida .flexIcons .flexText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 286px;
}

.oferta {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("/asset/image/bgHamburguer-Artesanal.jpg");
  padding: 50px 0;
}

.oferta .textOferta {
  margin: 0 auto;
  width: 600px;
}

.oferta .textOferta .title {
  font-size: 59px;
  font-weight: 600;
  color: #fff;
}

.oferta .textOferta .subtitle {
  font-size: 23px;
  color: #fff;
}

.oferta .textOferta .dashed {
  text-decoration-line: line-through;
}
.oferta .textOferta .subText {
  font-size: 51px;
  font-weight: 600;
  color: #fff;
}

.oferta .textOferta .bgRed {
  background-color: #f12b2b;
}

.oferta .button {
  margin: 24px auto;
  width: 493px;
  font-size: 25px;
  font-weight: 600;
}
.oferta img {
  margin: 0 auto;
  width: 420px;
}

.footer {
  background-color: #000;
  padding: 32px 0px;
}

.footer .flex {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 300;
}
.footer span {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  color: #fff;
}
